body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 144rem;
  height: 100vh;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
